body {
    padding: 0;
    text-align: center;
    
  }
  
  .game-intro {
    float: center;
    padding: 0% 10%;
    height: 1000px;
    width: 1000px;
  }
  
  .moonshiner {
    display: flex;
    justify-content: flex-start;
    padding-top: 280px;
    padding-left: 0;
    height: 235px;
  }

  .bottom{
    display: flex;
    justify-content: flex-end;
  }
  .distil {
    height: 200px;
    padding-top: 325px;
  }
  .woods {
    height: 460px;
    flex-grow: 150%;
    padding-top: 60px;
  }

  .game-intro h1{ 
    font-family: "Irish Grover";
    font-size: 100px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 45px; }

  .game-intro p {
    font-size: 40px;
    font-family: "Irish Grover"
  }
  
  .logo-img {
    width: 80px;
  }
  
  .arrows-img {
    width: 150px;
  }
  /* the button animation */
 /*  @keyframes floation-button {
    0% {}
    25% {}
    50% {}
    75% {}
    100% 
  } */
  body button {
    font-size: 70px;
    font-weight: 600;
    background-color: gold;
    color: #B87333;
    padding: 50px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  #game-board {
      float: left;
      padding: 20px 0px;
  }


.game-over-screen {
 font-family: "Irish Grover"; 
 font-size: 90px;
 height: 1000px;
 width: 1000px;  
}  

.game-over-screen img{
 padding-top: 0px;
}

#levels {
    font-family: "Irish Gover";
    font-size: 30px;
    height: 40px;
    width: 20px;
    color: #691c25;
}

#lives #levels {
    font-family: "Irish Gover";
    font-size: 30px;
    height: 40px;
    width: 70px;
    color: #691c25;
}